**What is scikit-learn or sklearn?** Scikit-learn is probably the most useful library for machine learning in Python. The sklearn library contains a lot of efficient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction.

In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\samuel joseph\anaconda3\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.19.5 in c:\users\samuel joseph\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\samuel joseph\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\samuel joseph\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\samuel joseph\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [2]:
pip show scikit-learn

Name: scikit-learn
Version: 1.4.2
Summary: A set of python modules for machine learning and data mining
Home-page: https://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: C:\Users\Samuel Joseph\anaconda3\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: imbalanced-learn
Note: you may need to restart the kernel to use updated packages.

In [7]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3090380499.py, line 1)

In [5]:
data = pd.read_csv('Diabetes Missing Data.csv')
data.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [6]:
data.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [10]:
imputer = SimpleImputer(strategy='mean')

In [11]:
data_1 = data.copy()

In [12]:
data_1['BMI']=imputer.fit_transform(data[['BMI']])

In [13]:
data_1.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                    0
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [20]:
imputer_mode = SimpleImputer(strategy='most_frequent')

In [23]:
data['Glucose'].mode()

0     99.0
1    100.0
Name: Glucose, dtype: float64

In [17]:
data['Pregnant'].mode()

0    1
Name: Pregnant, dtype: int64

In [24]:
data_1['Glucose'] = imputer_mode.fit_transform(data[['Glucose']])

In [25]:
data_1.isna().sum()

Pregnant               0
Glucose                0
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                    0
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [26]:
data_1['Diastolic_BP'].count()

733

In [27]:
data_1['Diastolic_BP'].mean()

72.40518417462484

In [32]:
data_1['Diastolic_BP'].median()

72.0

In [33]:
# Another method to remove null values
data_1['Diastolic_BP']=data['Diastolic_BP'].fillna(72)

In [34]:
data_1.isna().sum()

Pregnant               0
Glucose                0
Diastolic_BP           0
Skin_Fold            227
Serum_Insulin        374
BMI                    0
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [35]:
data_1['Skin_Fold'].count()

541

In [36]:
data_1['Skin_Fold'].mean()

29.153419593345657

In [37]:
data_1['Skin_Fold'].mode()

0    32.0
Name: Skin_Fold, dtype: float64

In [38]:
data_1['Skin_Fold'].median()

29.0

In [39]:
data_1['Skin_Fold'].max()

99.0

In [41]:
data_1['Skin_Fold'].describe()

count    541.000000
mean      29.153420
std       10.476982
min        7.000000
25%       22.000000
50%       29.000000
75%       36.000000
max       99.000000
Name: Skin_Fold, dtype: float64

In [42]:
# Another method to remove null value

data_1['Skin_Fold'] = data['Skin_Fold'].replace(np.nan, 32)

In [43]:
data_1.isnull().sum()

Pregnant               0
Glucose                0
Diastolic_BP           0
Skin_Fold              0
Serum_Insulin        374
BMI                    0
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [44]:
data_1['Serum_Insulin'].describe()

count    394.000000
mean     155.548223
std      118.775855
min       14.000000
25%       76.250000
50%      125.000000
75%      190.000000
max      846.000000
Name: Serum_Insulin, dtype: float64

In [45]:
data_1['Serum_Insulin'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 768 entries, 0 to 767
Series name: Serum_Insulin
Non-Null Count  Dtype
--------------  -----
394 non-null    float64
dtypes: float64(1)
memory usage: 6.1 KB

In [46]:
data_1.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,32.0,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [47]:
data_1.tail()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,32.0,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [48]:
data_1['Serum_Insulin'].describe()

count    394.000000
mean     155.548223
std      118.775855
min       14.000000
25%       76.250000
50%      125.000000
75%      190.000000
max      846.000000
Name: Serum_Insulin, dtype: float64

In [49]:
data_1['Serum_Insulin'].median()

125.0

In [50]:
data_1['Serum_Insulin'].mode()

0    105.0
Name: Serum_Insulin, dtype: float64

In [52]:
#It is hard to predict a number to fill the column Serum_Insulin becase 374 out of 394 values are null values
#So i found an average value with the values mean, median, mode, max, and min and that is 249

data_1['Serum_Insulin'] = data['Serum_Insulin'].replace(np.nan, 249)

In [53]:
data_1.isna().sum()

Pregnant             0
Glucose              0
Diastolic_BP         0
Skin_Fold            0
Serum_Insulin        0
BMI                  0
Diabetes_Pedigree    0
Age                  0
Class                0
dtype: int64